<%= form_with(model: @micropost, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
            <%# error_message => @user, x micropost %>
            <%# f => form_with, f.object => 'model: @user' in new.html.erb, get error_messages for @user %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
        <%# :content => params: { micropost: { content: "..." } } %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>